@use '../style/shared.scss';

.container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: 932px;
    display: flex;
    flex-direction: column;
    background-color: shared.$main-background;
   padding: 12px;
   position: relative;
   z-index: 1;

    .screen{
        flex: 0 1 40%;
        text-align: right;
        font-size: 70px;
        position: relative;
        padding: 10px;
        overflow-wrap: break-word;
        display: flex;
        flex-direction: column;
        
        .monitor{
            flex: 0 0 70%;
            
        }

        .results{
            flex: 0 0 30%;
            font-size: 52px;
            color: shared.$main-color;
            
            max-width: 100%;
        }
    }

    .panel{
        flex: 0 1 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        .panelLeft{
            display: flex;
            width: 30%;
            justify-content: space-between;
        }
       
        img{
            width: 40px;
            height: auto;
            
        }
    }

    .main{
        flex: 0 1 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        button {
                width: 72px;
                height: 72px;
                border-radius: 50%;
               // display: flex;
                //justify-content: space-around;
                //align-items: center;
                font-size: shared.$main-font-size;
                font-weight: 500;
                color: shared.$main-color;
                margin: 12px;
                background-color: #fff;
                border-color: #fff;

    
        }

        button:first-child, button:last-child{
            width: 168px;
            border-radius: 50px;
            color: #fff;
            background-color: shared.$main-color;
        }

        

       


        .mainRow{
            display: flex;
            justify-content: center;
            margin-top: 12px;


                .addButton{
                    color: shared.$add-color;
                    
                }

                
            }

        .equal {
            color: #fff;
            background-color: shared.$main-color;
        }
        
    }
}

.historyBlock{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: shared.$main-background;
    color: shared.$main-color;
    font-size: 29px;
    padding: 0 15px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content{
        flex: 1 1 auto;
    }

    div{
        margin: 10px 0;

        .clean {
                width: 100%;
                height: fit-content;
                padding: 15px 5px;
                font-size: 18px;
                
            }

    }

}

.converter{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: shared.$converter-color;
    
    
    .top{
        display: flex;
        align-items: center;
        padding: 10px;

        div{
            font-size: 30px;
            margin-left: 20px;
            font-weight: bold;
        }
    }

    img{
        width: 40px;
        height: auto;
    }

    .typePanel{
        display: flex;
        align-items: center;
        font-size: 20px;
        color: #000;
        font-weight: 800px;
        margin-top: 10px;

        div{
            padding: 5px 10px;
            border-radius: 20px;
            margin: 0 5px;
        }
    }
    
}